@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #4F82C1;
    height: 100%;
    width: 100%;
}
.logo img {
    width: 120px;
}
.logo {
    align-items: center;
    text-align: center;
    padding-top: 30px;
}
/* caja */
.ejecu {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding: 20px; 
    margin: 0 auto; 
    border-radius: 10px;
}
.ejecu .gris {
    background-color: #D9D9D9;
    width: 665px;
    height: 452px;
    margin-top: 35px;
    }
.ejecu .boton .bot {
    font-family: Arial, sans-serif;
    background-color: #0D284A;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 273px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .ejecu .boton {
    background-color: #FFFFFF;
    width: 665px;
    height: 100px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    }
.gris .maneje img {
    position: relative;
    left: 200px;
    bottom: 441px;
}
.gris .maneje2 img {
    position: relative;
    left: 200px;
    bottom: 441px;
}
.gris .maneje3 img {
    position: relative;
    left: 200px;
    bottom: 441px;
}
.gris .maneje4 img {
    position: relative;
    left: 0px;
    bottom: 428px;
}
.ejecu .gris h2 {
    padding-top: 403px;
    padding-left: 0px;
    font-family: Arial, sans-serif;
    padding-right: 455px;
}
.contenedor-flex {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
}

.cong {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    }
    .con1, .con2 {
    display: inline-block;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    vertical-align: top;
    }
    .cong .fondo {
    background-color: #FFFFFF;
    width: 270px;
    height: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    }
    .cong .barra {
    background-color: #0D284A;
    width: 270px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    }
    .con1 .barra h3 {
        font-family: Arial, sans-serif;
        color: #FFFFFF;
        margin: 0;
        padding: 5px;
    }
    .barra:hover {
        background-color: #003366;
    }
    a {
        text-decoration: none;
    }  

